
<header id="main_header" class="no_select">
    <nav id="big_nav">
        <ul>
            <li>
                <a href="{{ 'orion'|page }}">Orion</a>
            </li><li>
                <a href="{{ 'news'|page }}">News</a>
            </li><li class="logo">
                {% partial "mainScoutLily" %}
            </li><li>
                <a href="{{ 'pfadiheim'|page }}">Pfadiheim</a>
            </li><li>
                <a href="{{ 'kontakt'|page }}">Kontakt</a>
            </li>
        </ul>
    </nav> 
</header>