<header id="main_header" class="no_select parallax" data-container-height="500" 
        data-image="{{ 'assets/images/DSCF1444.jpg'|theme }}" 
        data-with="1600" data-height="1200" data-posy="0">
    <nav id="big_nav" style="position: fixed">
        <ul>
            <li>
                <a href="{{ 'orion'|page }}">Orion</a>
            </li><li>
                <a href="{{ 'news'|page }}">News</a>
            </li><li class="logo">
                {% partial "mainScoutLily" %}
            </li><li>
                <a href="{{ 'pfadiheim'|page }}">Pfadiheim</a>
            </li><li>
                <a href="{{ 'kontakt'|page }}">Kontakt</a>
            </li>
        </ul>
    </nav> 
    <nav id="small_nav">
        <ul>
            <li>
                <a href="{{ 'orion'|page }}">Orion</a>
            </li><li>
                <a href="{{ 'news'|page }}">News</a>
            </li><li class="logo">
                {% partial "smallScoutLily" %}
            </li><li>
                <a href="{{ 'pfadiheim'|page }}">Pfadiheim</a>
            </li><li>
                <a href="{{ 'kontakt'|page }}">Kontakt</a>
            </li>
        </ul>
    </nav> 
    <div id="top_title">
        <h1>Pfadi Orion</h1>
        <a id="orion_location" href="https://www.google.com/maps/place/Rickenbach+sulz" target="blank">
            <div id="orion_location">
                <p>Rickenbach Sulz / Wiesendangen</p>
            </div> 
        </a>                     
        <h2 style="cursor: pointer;">Erfahre mehr über uns</h2>   
        <h2 style="margin-top: -30px;font-size: 70px; text-align: center; cursor: pointer;">v</h2>
    </div>
</header>