
#big_nav a:link, #big_nav a:visited{
    display: inline-block;
    width: 100px;
    padding: 3em 1em 1em 1em;
    font-family: 'Denk One', sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    color: #000;
}

#big_nav a:hover, #big_nav a:active,
#big_nav .active a:link, #big_nav .active:visited{
    color: #CC3D18;
    text-shadow: none;
    text-decoration: none;
}

#big_nav li.logo, .logo{    
    vertical-align: middle;
    padding: 0em 40px 0 40px;
    line-height: 0;
}

#main_scout_lily {
    border-bottom: none;
    cursor: pointer;
    transition: fill .2s;
    fill: #000;
}

#main_scout_lily:hover{
    fill: #CC3D18 !important;
}

@media screen and (max-width: 1024px) and (min-width: 640px){
    #big_nav a:link, #big_nav a:visited {
        width: 80px;
        padding: 2.5em 1em 1em 1em;
    }
}