/* 
    Created on : 03.04.2014, 22:06:12
    Author     : Rolf
*/

#main_header nav a:link, #main_header nav a:visited{

    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    color: #000;
}

#main_header nav a:hover, #main_header nav a:active{
    color: #cc3d18;
}

body{
    overflow-x: hidden;
}

#full-width-slider{
    opacity: 0;
    transition: .2s opacity;
}

#ph_top{
    min-height: 730px;
}

.ph_container{
    display: inline-block;

    vertical-align: top; /* Notice this line */
    padding-bottom: 40px;
}

#map-canvas {
    height: 750px;
    width: 100%;
    margin: 0px;
    padding: 0px;    
    z-index: -2;
}
#google_maps_overlay{
    box-shadow: rgb(0, 0, 0) 0px -10px 23px -12px inset;
    height: 250px;
    overflow: hidden;
    transition: all .2s;
}

#google_maps_overlay.mobile_fullsize{
    width: 100%;
    height: 100% !important;
    min-height: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 951;
}

#show_full_maps_button{
    width: 230px;
    position: relative;
    left: calc(50% - 130px);
    bottom: 560px;
    color: #FFF;
    text-align: center;
    padding: 6px 15px;
    font-weight: bold;
    font-size: 20px;
    background-color: #CC3D18;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px -3px #000;
    transition: bottom .2s, left .2s;
}

#show_full_maps_button:hover{
    background-color: #DA512D;
    border-bottom: 4px solid #CC3D18;
    padding-bottom: 2px;
}

#show_full_maps_button.mobile_fullsize{
    transition: none;
    position: absolute;
    bottom: 20px;
    z-index: 952;
}

.ph_border{
    background-color: #FFF;
    box-shadow: 5px 4px 7px -7px #292929, -1px 1px 8px -3px #292929;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 15px;
}

#ph_details_button{
    margin: 90px auto;
    padding: 6px 15px;
    height: 24px;
    width: 200px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    background-color: #CC3D18;
    border-radius: 5px;
    cursor: pointer;
}

#ph_details_button:hover{
    background-color: #DA512D;
    border-bottom: 4px solid #CC3D18;
    padding-bottom: 2px;
}

#ph_info_wrapper{

    width: 1500px;
    height: 800px;
    margin: 0 auto;
}

#ph_location{
    border-top: 5px solid #FFE000;
    padding: 25px;
    margin-top: 50px;
    width: 1450px;
}

#ph_administration{
    border-top: 5px solid #4C26E0;
    width: 500px;
    height: 220px;
    padding: 25px;
}

#ph_furnishment{
    border-top: 5px solid #DD4722;
    width: 885px;
    height: 322px;
    margin-left: 15px;
    padding: 25px;
}

#ph_vacancy{
    border-top: 5px solid #3FA750;
    padding: 25px;
    width: 500px;
}

@media screen and (max-width:1560px) and (min-width:960px) {

    #ph_info_wrapper{
        width: 1000px;
        height: 850px;
    }

    #ph_location{
        width: 950px;
    }

    #ph_administration{
        width: 305px;
        height: 220px;
    }

    #ph_furnishment{
        width: 580px;
        height: 344px;
    }

    #ph_vacancy{
        width: 305px;
    }
}

@media screen and (max-width: 1040px){

    #ph_top{
        height: auto;
        min-height: 0;
        margin-top: -40px;
    }
    #ph_info_wrapper {
        width: 100%;
        height: auto;
    }
    #ph_location {
        margin: 50px auto;
        width: 80%;
        display: block;
    }
    .ph_container {
        display: block;
        width: 100%;
        margin: 50px auto;
        padding-bottom: 0;
    }
    #ph_administration {
        margin: 0 auto;
        width: 80%;
        height: auto;
    }
    #ph_vacancy {
        margin: 0 auto;
        margin-top: 50px;
        width: 80%;
    }
    #ph_furnishment {
        width: 80%;
        margin: 50px auto;
        height: auto;
    }
}

/** ph-slider **/

#full-width-slider {
    width: 100%;
    color: #000;
}

.coloredBlock {
    padding: 12px;
    background: rgba(255,0,0,0.6);
    color: #FFF;
    width: 200px;
    left: 20%;
    top: 5%;
}
.infoBlock {
    position: absolute;
    top: 30px;
    right: 30px;
    left: auto;
    max-width: 25%;
    padding-bottom: 0;
    background: #FFF;
    background: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    padding: 20px;
}
.infoBlockLeftBlack {
    color: #FFF;
    background: #000;
    background: rgba(0,0,0,0.75);
    left: 30px;
    right: auto;
}
.infoBlock h4 {
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    padding-bottom: 3px;
}
.infoBlock p {
    font-size: 14px;
    margin: 4px 0 0;
}
.infoBlock a {
    color: #FFF;
    text-decoration: underline;
}
.photosBy {
    position: absolute;
    line-height: 24px;
    font-size: 12px;
    background: #FFF;
    color: #000;
    padding: 0px 10px;
    position: absolute;
    left: 12px;
    bottom: 12px;
    top: auto;
    border-radius: 2px;
    z-index: 25; 
} 
.photosBy a {
    color: #000;
}
.fullWidth {
    max-width: 1400px;
    margin: 0 auto 24px;
}

@media screen and (min-width:960px) and (min-height:660px) {
    .heroSlider .rsOverflow,
    .royalSlider.heroSlider {
        height: 520px !important;
    }
}

@media screen and (min-width:960px) and (min-height:1000px) {
    .heroSlider .rsOverflow,
    .royalSlider.heroSlider {
        height: 660px !important;
    }
}
@media screen and (min-width: 0px) and (max-width: 800px) {
    .royalSlider.heroSlider,
    .royalSlider.heroSlider .rsOverflow {
        height: 220px !important;
    }
    .infoBlock {
        padding: 10px;
        height: auto;
        max-height: 100%;
        min-width: 40%;
        left: 5px;
        top: 5px;
        right: auto;
        font-size: 12px;
    }
    .infoBlock h3 {
        font-size: 14px;
        line-height: 17px;
    }
}