==
<svg version="1.1" id="orion_organigramm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 900 700" preserveAspectRatio="none" xml:space="preserve">
    <filter id="dropshadow_org" height="130%">
        <feGaussianBlur in="SourceAlpha" stdDeviation="4"/> <!-- stdDeviation is how much to blur -->
        <feOffset dx="0" dy="00" result="offsetblur"/> <!-- how much to offset -->
        <feMerge> 
            <feMergeNode/> <!-- this contains the offset blurred image -->
            <feMergeNode in="SourceGraphic"/> <!-- this contains the element that the filter is applied to -->
        </feMerge>
    </filter>
    <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="450,112 450,149.5 190.5,149.5 190.5,190 "/>
    <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="450,149.5 810,149.5 810,190 "/>
    <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="190,254 190,280 111,280 111,300 	"/>
    <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="270,300 270,280 190,280 	"/>    
    <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="525,254 525,280 447,280 447,300 	"/>
    <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="601,300 601,280 525,280 	"/>
    <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="190,254 190,280 111,280 111,300 	"/>
    <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="270,300 270,280 190,280 	"/>    
    <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="525,254 525,280 447,280 447,300 	"/>
    <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="601,300 601,280 525,280 	"/>
    <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="525.5" y1="149" x2="525.5" y2="190"/>
    <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="810.5" y1="255" x2="810.5" y2="300"/>
    <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="111.5" y1="364" x2="111.5" y2="399"/>
    <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="269.5" y1="364" x2="269.5" y2="399"/>
    <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="445.5" y1="363" x2="445.5" y2="399"/>
    <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="601.5" y1="362" x2="601.5" y2="399"/>
    <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="344" y1="81.5" x2="266" y2="81.5"/>
    <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="629" y1="81.5" x2="549" y2="81.5"/>

    <rect class="org_elem" x="344" y="49" fill="#993333" width="205" height="64"/>
    <text class="org_elem" transform="matrix(1 0 0 1 375 86)" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Abteilung Orion</text>
    <rect class="org_elem" x="106" y="190" fill="#993333" width="173" height="64"/>
    <text class="org_elem" transform="matrix(1 0 0 1 157 215)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">1. Stufe </tspan><tspan x="-11.3" y="25.2" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Wolfsstufe</tspan></text>
    <rect class="org_elem" x="439" y="190" fill="#993333" width="173" height="64"/>
    <text class="org_elem" transform="matrix(1 0 0 1 490 215)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">2. Stufe </tspan><tspan x="-9.1" y="25.2" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Pfadistufe</tspan></text>
    <rect class="org_elem" x="720" y="190" fill="#993333" width="173" height="64"/>
    <text class="org_elem" transform="matrix(1 0 0 1 771 215)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">3. Stufe </tspan><tspan x="-0.8" y="25.2" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Piostufe</tspan></text>
    <rect class="org_elem" x="44" y="300" fill="#993333" width="135" height="64"/>
    <text class="org_elem" transform="matrix(1 0 0 1 82 325)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Meute</tspan><tspan x="-18.9" y="25.2" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Von Planta</tspan></text>
    <rect class="org_elem" x="202" y="300" fill="#993333" width="135" height="64"/>
    <text class="org_elem" transform="matrix(1 0 0 1 249 325)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Volk</tspan><tspan x="-32.4" y="25.2" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Pimpernuss</tspan></text>
    <rect class="org_elem" x="743" y="300" fill="#993333" width="135" height="64"/>
    <text class="org_elem" transform="matrix(1 0 0 1 782 325)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Trupp</tspan><tspan x="-2.6" y="25.2" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Auriga</tspan></text>
    <rect class="org_elem" x="380" y="300" fill="#993333" width="135" height="64"/>
    <text class="org_elem" transform="matrix(1 0 0 1 421 325)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Trupp</tspan><tspan x="-1.7" y="25.2" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Aquila</tspan></text>
    <rect class="org_elem" x="534" y="300" fill="#993333" width="135" height="64"/>
    <text class="org_elem" transform="matrix(1 0 0 1 575 325)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Trupp</tspan><tspan x="-11" y="25.2" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Girsberg</tspan></text>
    <rect class="org_elem" x="58" y="399" fill="#534741" width="107" height="64"/>
    <text class="org_elem" transform="matrix(1 0 0 1 85 425)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Rudel</tspan><tspan x="0.3" y="25.2" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Baloo</tspan></text>
    <rect class="org_elem" x="216" y="399" fill="#534741" width="107" height="64"/>
    <text class="org_elem" transform="matrix(1 0 0 1 244 425)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Wabe</tspan><tspan x="-5.3" y="25.2" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Primeli</tspan></text>
    <rect class="org_elem" x="393" y="399" fill="#534741" width="107" height="64"/>
    <text class="org_elem" transform="matrix(1 0 0 1 413 425)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Gruppe</tspan><tspan x="6.7" y="25.2" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Milan </tspan></text>
    <rect class="org_elem" x="548" y="399" fill="#534741" width="107" height="64"/>
    <text class="org_elem" transform="matrix(1 0 0 1 568 425)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Gruppe</tspan><tspan x="-7.1" y="25.2" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Mammut</tspan></text>
    <rect class="org_elem" x="629" y="49" fill="#333366" width="205" height="64"/>
    <text class="org_elem" transform="matrix(1 0 0 1 686.4734 86.696)" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Pfadiheim</text>
    <rect class="org_elem" x="61" y="49" fill="#333366" width="205" height="64"/>
    <text class="org_elem" transform="matrix(1 0 0 1 102.6819 86.696)" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="21">Gönnerverein</text>
</svg>